{% load static %}

<html>
    <head>
        <meta charset="UTF-8">  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block headcontent %}
        {% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static '/app/img/cropped-logo-32x32.jpeg' %}">
        
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"/> 
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
    </head> 
<body class="d-flex justify-content-between flex-column vh-100 bg-light">
{% include 'app/layouts/navbar.html' %}
{% block bodycontent %}
{% endblock %}
{% include 'app/layouts/footer.html' %}
</body>
</html> 