{% extends 'app/base.html' %}
{% load static %}
{% block headcontent %}
  <title>Home | FSJE MARRAKECH</title>
{% endblock %} 


{% block bodycontent %}
  <div class="container">
    <div class="row h-100 justify-content-center align-items-center">
      {{form}}
      <div class="col-10 col-md-8 col-lg-6">
        <form method="POST" class="p-4 border border-secondary border-2 rounded col-6 w-100 shadow">
          {% csrf_token %}
          <div class="form-group mb-2">
            <label for="CNI">Carte nationale d'identité</label>
            <input type="text" class="form-control" id="CNI" name='CNI' placeholder="CNI" required>
          </div>
          <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label for="filiere">sélectinner la filière</label>
            <select class="form-control" id="filiere" name="filiere" >
              {% for filiere in filieres %}
                <option value="{{filiere.id}}">{{filiere.nom|capfirst}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label for="diplome">sélectinner le type de diplôme</label>
            <select class="form-control custom-select mr-sm-2" id="diplome" name="diplome">
              {% for diplome in type_diplomes %}
            <option value="{{diplome.id}}">{{diplome.type|capfirst}}</option>
          {% endfor %}
            </select>
          </div>
        </div>
    </div>
    <button type="submit" class='btn btn-primary mt-1 btn-block shadow'>recherche</button>
    </form>
    {% if diplome.num_classment and  not error%}
      <div class="border border-success border-2 rounded p-4 shadow">
         <p>Etudient : {{diplome.etudient}}</p>
         <p>Filière : {{diplome.filiere|capfirst}}</p>
         <p>Type Diplôme : {{diplome.type_diplome|capfirst}}</p>
         <p>Créé Le : {{diplome.createdAt|date}}</p>
         <p>Statut : 
          {% for key,value in satut_diplome_choices%}
            {% if diplome.statut == key %}
              {{value}}
            {% endif %}
          {% endfor %}</p>
          {% if diplome.statut == 4 %}
          <p>Numero de classement : {{diplome.num_classment}} </p>
          {% endif %}

        </div>
      {% endif %}
      {% if  error %}
      <p class="text-danger border-2 border border-danger rounded p-3 text-center shadow">demande de diplôme n'existe pas</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %} 
